<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <title>Cafe-Store | Home Page</title>
</head>
<body>
    <header class="header">
        <img src="/images/logo.png" alt="store logo" class="logo_img">
        <nav class="navbar">
            <ul>
                <li><a href="#" class="active">Home</a></home></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="button1">
                <button class="login_btn">login</button>
                <button class="sign_btn">sign up</button>
            </div>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home_content">
            <div class="text-1">Welcome to your</div>
            <div class="text-2">one-stop coffee joint.</div>
            <div class="text-3">Our specialities,<br><span class="typing"></span></div>
        </div>
        <div class="book_menu">
            <button>book now</button>
            <button>menu-card</button>
        </div>
    </section>

    <article>
        <div class="recepie">
            <img src="/images/coffee_pic.png" alt="another coffee pic" class="recepie_bg_pic">
            <img src="/images/cappuccino.jpg" alt="">
            <img src="/images/recepie_2.jpg" alt="">
        </div>
        <div class="review">review</div>
        <div class="random">randon</div>
    </article>

    <footer>
        <div class="footer_class">footer</div>
    </footer>

    <div id="modal">
        <div class="modal_content">       
            <img src="/images/coffee_sub.png" alt="Subscribe to our newsletter" class="modal_img">
                <div class="modal_text">
                    <h2>Subscribe to our Newsletter.</h2>
                    <input type="email" id="email" name="email" placeholder="Enter Email.">
                    <button id="subscribe_btn">Subscribe</button>
                </div>
            <span class="close">&times;</span>
        </div>
    </div>


<script src="/js/index.js"></script>

</body>
</html>