<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <title>Cafe-Store | Home Page</title>
</head>
<body>
    <header class="header">
        <img src="/images/logo.png" alt="store logo" class="logo_img">
        <nav class="navbar">
            <ul>
                <li><a href="#" class="active">Home</a></home></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="button1">
                <button class="login_btn">login</button>
                <button class="sign_btn">sign up</button>
            </div>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <div class="text-1">Welcome to your</div>
            <div class="text-2">one-stop coffee joint.</div>
            <div class="text-3">Our specialities <br><span class="typing"></span></div>
        </div>
    </section>

<script src="/js/index.js"></script>

</body>
</html>