* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-image: url(/images/header.jpg);
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
  width: 150px;
  cursor: pointer;
  margin-left: 25px;
}

.navbar {
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  justify-content: space-between;
  margin-top: -20px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  gap: 30px;
  margin-right: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 7px 18px;
  border: none;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  background: #402218;
  color: #fff;
}

.button1 {
  display: flex;
  border: none;
  margin-top: -5px;
}

.login_btn {
  width: 100px;
  margin-right: 25px;
  text-transform: uppercase;
  padding: 7px 18px;
}

.sign_btn {
  width: 100px;
  padding: 7px 18px;
  margin-right: 25px;
  text-transform: uppercase;
  background-color: transparent;
}

.home {
  margin-left: 80px;
  margin-top: 80px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 1.2;
}
